<div class="topbar">
  <div class="title-area">
    <div class="title">{{ 'app.name' | translate }}</div>
    <div class="subtitle">{{ 'app.subtitle' | translate }}</div>
  </div>

  <div class="topbar-actions">
    <app-language-selector />

    <p-button
      [label]="'layout.profile' | translate"
      icon="pi pi-user"
      severity="secondary"
      routerLink="/perfil">
    </p-button>

    <p-button
      [label]="'layout.logout' | translate"
      icon="pi pi-sign-out"
      severity="secondary"
      (onClick)="sair()">
    </p-button>
  </div>
</div>
